<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::body})}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3 style="color:red" th:text="${message}"></h3>
	<form th:action="@{/auth/login}" method="post">
		Username
		<br>
		<input class="form-control" name="username">
		<br>
		Password
		<br>
		<input class="form-control" name="password" type="password">
		<br>
		<input name="remember" type="checkbox">
		Remember me?
		<br>
		<button class="btn btn-primary">Login</button>		
	</form>
</body>
</html>