<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html::dynamic(~{::body})}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Student 2 list</h1>
	<ul th:each="sv , state: ${listSv}">
		<li>
			<a th:href="@{|/student/list?index=${state.index}|}" th:text="${#strings.capitalizeWords(sv.name)}"></a>	
		</li>
	</ul>
	<h3>Details</h3>
	<ul th:object="${sv}">
		<li>>> Name: [[*{name}]]</li>
		<li>>> Marks: [[*{marks}]]</li>
		<li>>> Gender: [[*{gender?'Male':'Female'}]]</li>
		<li>>> Email: [[*{contact.email}]]</li>
		<li>>> Subject: 
			<ul th:each="sub : *{subjects}">
				<li>[[${sub}]]</li>
			</ul>
		</li>
		<li th:switch="*{#arrays.length(subjects)}">
			<i>Time:</i>
			<b th:case="1">Mới vào học</b>
			<b th:case="2">Đang học</b>
			<b th:case="*">Sắp ra trường</b>
		</li>
		<li th:if="*{marks > 9}">
			<b>Gold</b>
		</li>
	</ul>
</body>
</html>