<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT16313</title>
    <!-- Style -->
</head>
<body ng-app="myApp">
    <div class="container p-2">
    <h1>Authorize</h1>
        <div ng-controller="myCtrl">
        
			<!-- My code -->
			<table ng-if="db" border="1">
				<thead>
					<tr>
						<th></th>
						<th ng-repeat="role in db.roles">{{role.name}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="acc in db.accounts">
						<th>{{acc.username}}</th>
						<th ng-repeat="role in db.roles">
							<input type="checkbox"
								ng-checked="index_of(acc.username,role.id)"
								ng-click="update(acc.username, role.id)"
							>
						</th>
					</tr>
				</tbody>
			</table>
			
        </div>
    </div>
    <!-- Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        const app = angular.module("myApp",[]);
        app.controller("myCtrl",function($scope,$http){
			
        	$http.get("/rest/authorities").then(res =>{
        		$scope.db = res.data;
        		console.log(res.data);
        	})
        	
        	$scope.index_of = function(username, role){
        		return $scope.db.authorities
        				.findIndex(a => a.accounts.username == username && a.roles.id == role);
        	}
        	
        	$scope.update = function(username, role){
        		var index = $scope.index_of(username, role);
        		if(index>=0){
        			var id = $scope.authorities[index].id;
        			$http.delete(`/rest/authorities/${id}`).then(res =>{
        				$scope.db.authorities.splice(index,1);
        			})
        		}else{
        			var authority = {
        					account:{username: username},
        					role:{id:role}
        			};
        			$http.post('/rest/authorities',authority).then(res =>{
        				$scope.db.authorities.push(res.data);
        			});
        		}
        	}
        	
        });

    </script>

</body>
</html>
