<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::body})}"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="card h-auto mt-3" th:fragment="shopping-cart">
		<div class="card-header text-white bg-primary">
			<h3>Shopping cart</h3>
		</div>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Amount</th>
						<th scope="col"></th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in cart.items">
						<th scope="row">{{item.id}}</th>
						<td>{{item.name}}</td>
						<td>{{item.price}}</td>
						<td>
							<input ng-change="cart.saveToLocalStogare()" ng-model="item.qty" type="number" min="1" class="form-control">
						</td>
						<td>{{item.price*item.qty | number : 2}}</td>
						<td>
							<button ng-click="cart.remove(item.id)" class="btn btn-danger">
								<i class="fas fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		<div class="card-footer">
			<button ng-click="cart.clear()" class="btn btn-danger">
				<i class="fas fa-redo"></i> Clear
			</button>
			<a th:href="@{/order/checkout}" class="btn btn-success">
				
				<i class="fas fa-thumbs-up"></i>
				 Check out
			</a>
		</div>
	</div>
</body>
</html>