<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Utility Thymeleaf</h1>
	<ul>
		<li>Today: <i th:text="${#dates.format(now,'EEEE, dd-MM-yyyy')}"></i></li>
		<li>Number of student: <i th:text="${#lists.size(dssv)}"></i></li>
	</ul>
	<ul th:each="sv:${dssv}" th:object="${sv}">
		<li>Name: <b th:text="*{#strings.capitalizeWords(name)}"></b></li>
		<li>Marks: <b th:text="*{#numbers.formatDecimal(marks,0,'COMMA',1,'POINT')}"></b></li>
		<li>Number of subject: <b th:text="*{#arrays.length(subjects)}"></b></li>
	</ul>
</body>
</html>